@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <title>Http POST using Ajax with jQuery (deferred syntax)</title>

    <script>
        function upload(e) {
            e.preventDefault();

            const form = e.target;
            const fileUpload = form['fileUpload'];
            const files = fileUpload.files;
            const formData = new FormData();

            for (const file of files) {
                formData.append('file[]', file);
            }

            $.ajax({
                type: 'POST',
                url: '/Home/Upload',
                data: formData,
                processData: false,
                contentType: false
            })
                .done(function (data) {
                    alert('Server response: ' + data);
                    console.log("done() called, with data " + data);

                    // Clear the files in the input
                    fileUpload.value = '';
                })
                .fail(function (data) {
                    console.error("fail() called, with data " + data);
                })
                .always(function (data) {
                    console.log("always() called, with data " + data);
                });
        }
    </script>
</head>
<body>
    <header>
        <h1>Http POST using Ajax with jQuery (deferred syntax)</h1>
    </header>

    <main>
        <form onsubmit="upload(event)">
            <label for="fileUpload">Select File to Upload:</label>
            <input id="fileUpload" type="file" multiple />
            <br />
            <button typeof="submit">Upload File</button>
        </form>
    </main>

    <footer>
        <hr />
        @Html.ActionLink("Home", "Index")
    </footer>
</body>
</html>
